body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 64px;
  padding: 10rem;
}

.form-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  padding: 4rem;
  padding-left: 2.4rem;
  padding-top: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

h2 {
  margin-bottom: 24px;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 8px;
}

button {
  width: 108%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
